@import "../../styles/variables";
@import "../../styles/mixins";

$topBarBgColor: #202020;

.topBar {
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;
  min-height: 50px;
  background-color: $topBarBgColor;

  @include mq('tablet') {
    min-height: 90px;
    justify-content: space-around;
  }
}