@import "../../../styles/mixins";
@import "../../../styles/variables";


.burger {
  @include flex-center('row');
  @include size(35px);
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);

  &__plate {
    @include size(17.5px, 1.25px);
    border-radius: 1px;
    background-color: white;
    box-shadow: 0 3.75px white, 0 -3.75px white;
  }
}

.navbar {
  position: relative;
  @include flex-center();
  background-color: inherit;

  &__burger {
    @include mq('desktop') {
      display: none;
    }
  }
  &__nav {
    position: absolute;
    z-index: 999;
    display: none;
    flex-flow: column nowrap;
    top: 45px;
    right: -10px;
    //background-color: #292929;
    background-color: inherit;

    &_active {
      display: flex;
    }

    @include mq('desktop') {
      display: flex;
      position: static;
      flex-flow: row nowrap;
    }
  }
  &__item {
    font-family: $Montserrat;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: white;
    margin: 7px 15px;
    white-space: nowrap;
  }
}