$Montserrat              : "Montserrat";
$SourceSansPro           : "Source Sans Pro";
$MaterialFont            : "Material Icons Round";

$bgColor                 : rgba(0,0,0,1);
$mainFontColor           : #3D4F9F;
$orangeColor             : #FF834E;

$mainFontSize            : 12px;
$mainLineHeight          : rem(15);

$maxDesktopWidth         : 1920px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 767px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
