@import "../../../styles/mixins";
@import "../../../styles/variables";

.phone {
  position: relative;

  //@include mq('desktop') {
  //  width: 50%;
  //}

  &__circle {
    margin: 0 auto;
    @include size(201.8px);
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(167, 47, 114, 0.7) 0%, rgba(255, 106, 106, 0) 100%);
    backdrop-filter: blur(46.0728px);

    @include mq('desktop') {
      display: none;
    }
  }

  &__image {
    position: absolute;
    top: -5.53px;
    left: calc(50% - 87px);
    height: 252px;

    @include mq('desktop') {
      height: 842.78px;
    }
  }

  &__bigE {
    position: absolute;
    top: -93.53px;
    left: 45%;
    height: 384px;
    width: 297.76px;
    @include mq('desktop') {
      height: 595.08px;
      width: 768.56px;
    }
  }

}